body {
  counter-reset:question;
}

.alert
{
background-color:pink;
}

.alert::before {
  content : "AVERTISSEMENT\n\n";
  font-weight : bold;
}

.question
{
  background-color:lightblue;
  counter-increment:question;
}

.question::before {
  content : "Question" counter(question) " : ";
  font-weight : bold;
}

