body {
  counter-reset:question;
}

.alert
{
background-color:pink;
}

.alert::before {
  content : "AVERTISSEMENT &#13 &#13";
  font-weight : bold;
}

.question
{
  background-color:lightblue;
  counter-increment:question;
}

.question::before {
  content : "Question " counter(question) " : &#13 &#13";
  font-weight : bold;
}

